#bg-video{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container-fluid{
background: linear-gradient(135deg, #a0a0a7 0%, #1140c1 100%);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 8px 32px rgba(163, 151, 151, 0.5);
    border-bottom: 4px solid #585b5c;
    position: sticky;
    top: 0;
    z-index: 100;
}
.image-container{
    border: 2px solid rgb(68, 68, 68);
    border-radius: 0.5em; 
}
.search{
   padding:10px 25px;
    width: 400px;
    border-radius: 20px;
    border: 2px solid rgba(88, 86, 86, 0.6);
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(4, 4, 4);
    font-size: 16px;
    outline: auto;
    
    transition: all 0.7s ease;
    text-align: center;
    z-index: 1;          
    margin-top: 50px;  
}

.image-container1 {
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 100px;
    padding: 20px;
    margin: 40px auto;
    max-width: 900px; 
    position: relative;
   
}

.image-container1 img {
   
    object-fit: cover;
    border-radius: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.image-container1 img:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
}

.map{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 40px;
}
.map iframe{
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.map:hover{
    transform: scale(1.05);
}
.title{
    font-size: 50px;
}